/*Imports*/

@import url('https://fonts.googleapis.com/css?family=VT323|Spicy+Rice|Charm|Major+Mono+Display');
/* General values*/

a {
	text-decoration-line: none;
}

/* About me section */

#about-me {
	height: 100vh;
	width: 100%;
	font-family: 'VT323', Arial, Verdana;
	margin: 0;
	background-image: url('../img/starmap-3.jpg');
}

#title-one {
	color: white;
	font-size: 150px;
	font-weight: 300;
	position: relative;
	top: 70px;
	margin: 0 0 0 40px;
}

.about-list{
	color: white;
	position: relative;
	top: 17%;
	margin: 0 0 0 120px;
}

.lists{
	font-size: 40px;
	font-weight: 200;
	margin: 0;	
}

 /*Project Section */
 
 #projects {
	 font-family: 'Major Mono Display', Arial, Helvetica, sans-serif, Verdana;
	 background-image: url('../img/project-1.jpg');
	 height: 102vh;
	 width: 100%;
	 margin: 0;
 }

 .title-two{
	color: rgb(236, 227, 227);
	background-color: black;
	font-size: 71px;
	font-weight: 900;
	display: inline-block;
	position: relative;
	top: 11%;
	margin: 0 0 0 40px;
	z-index: 20;
 }

 #about-list-two {
	background-color: black;
	position: relative;
	top: 15%;
	width: 87%;
	margin: 0 0 0 120px;
 }

 .list-two{
	 font-size: 36px;
	 font-weight: 300;
	 color: whitesmoke;
	 width: inherit;
	 margin: 0;
	 z-index: 10;
 }

 /*About this site section inherits some features from about me*/
 
 #about-site{
	font-family: 'Charm', Arial, Verdana;
	background-image: url('../img/starmap-1.jpg');
	height: 103vh;
	width: 100%;
	margin: 0;
 }

 #title-three{
	color: white;
	font-size: 130px;
	font-weight: 300;
	position: relative;
	top: 11%;
	margin: 0 0 0 40px;
 }

 /*Article Section*/

 #articles{
	font-family: 'VT323', Arial, Verdana;
	background-image: url('../img/nightsky-5-m.jpg');
	height: 100vh;
	width: 100%;
	margin: 0;
 }

 #title-four{
	color: white;
	font-size: 130px;
	font-weight: 300;
	position: relative;
	top: 13%;
	margin: 0 0 0 40px;
 }

 /*Professiona Section*/

 #professional {
	font-family: 'Spicy Rice', Arial, Helvetica, sans-serif;
	background-image: url('../img/contact-2-m.jpg');
	height: 101vh;
	width: 100%;
	margin: 0;
 }

 #title-five{
	color: #FF411F;
	font-size: 80px;
	font-weight: 600; 
	width: 70%;
	position: relative;
	top: 10px;
	margin: 0 0 0 40px;
 }

 #list-professional {
	color: #341F0E;
	position: relative;
	top: 19%;
	width: 75%;
	margin: 0 0 0 120px;
 }

 /* Footer */

 footer {
	 height: 70px;
	 width: 100%;
	 background-color: #3f3f3f;
	 border-top: solid black 5px;
	 margin: 0;
 }

 #ft-info{
	margin: 0;
	padding: 5px;
	display: inline-block;
	color: white;
 }

 .ft-org{
	list-style-type: none;
	display: inline-block;
		
		font-size: 18px;
		font-weight: 300;
		line-height: 50px;
		margin: 0 0 0 150px;
		padding: 5px;
 }
 
 footer ul li a {
	 text-decoration: none;
	 color: white;
 }